body {
    text-align : center;
    font-family : sans-serif;
    background-color : blue;
    color : orangered;
}

#Cabecera {
    size : 20px;
    color : purple;
    font-family: "Verdana";
    background-color: green;
}

.Cabecera {
    font-weight: bold;
    padding: 10px;
}